<section class="footer urbanist">
    <div class="text">
      <h1>LA BROWS</h1>
      <div class="nav">
        <a href="/">Om oss</a>
        <a href="/tjenester">Tjenester</a>
        <a id="kampanjerButton" href="/kampanjer">Kampanjer</a>
        <a href="/booking">Booking</a>
      </div>
      <%- include('socials') %>
    <img src="/gfx/iStock-955023740.jpg" alt="">
  </section>