<section class="spesialtilbud urbanist half">
  <h1>Spesialtilbud</h1>
  <div class="buttons">
    <div
      class="button"
      style="background-image: url('/gfx/iStock-1348298392.jpg')"
    >
      <h2>Organic Brows</h2>
      <ul>
        <li>For de som elsker langvarig styling</li>
        <li>For tykke og glatte bryn</li>
        <li>
          For sunne og fyldige bryn <br />
          <span>-10 % rabatt</span>
        </li>
      </ul>
    </div>
    <div
      class="button"
      style="background-image: url('/gfx/iStock-2180608003.jpg')"
    >
      <h2>Omsorgsfull behandling</h2>
      <ul>
        <li>
          Ved bestilling av kompleks farging eller farging + hårklipp <br />
          <span>-10 % rabatt</span>
        </li>
      </ul>
    </div>
  </div>
</section>
