<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="LA BROWS - Din plass for enkelhet, kjærlighet, og omsorg. Oppdag spesialtilbudene våre hver måned!" />
    <meta name="keywords" content="LA BROWS, skjønnhet, bryn, hår, spesialtilbud, Oslo, microblading, vippeløft" />
    <meta name="author" content="LA BROWS" />
    <meta property="og:title" content="LA BROWS | Skjønnhet og velvære i Oslo" />
    <meta property="og:description" content="Et sted for enkelhet, kjærlighet og omsorg. Spesialtilbud for våre kunder hver måned." />
    <meta property="og:image" content="/gfx/iStock-479936620.jpg" />
    <meta property="og:url" content="https://www.labrows.no" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>LA BROWS | Kampanjer</title>
  </head>
  <body>
    <section class="front urbanist">
      <header>
        <%- include('components/navbar') %>
        <div class="introductionText">
          <div class="text">
            <h1>KAMPANJER</h1>
            <p>
              Vi tilbyr tjenester som: <br />
             <span> Microblading, Microneedling <br>
              Brynslaminering, Forming og Farging av Bryn <br>
              Vippeløft / Farging av Vipper </span>
            </p>
          </div>
        </div>
      </header>
      <div class="kampanjerContainer">

        <div class="buttons">
          <div
            class="button"
            style="background-image: url('/gfx/iStock-1348298392.jpg')"
          >
            <h2>Organic Brows</h2>
            <ul>
              <li>For de som elsker langvarig styling</li>
              <li>For tykke og glatte bryn</li>
              <li>
                For sunne og fyldige bryn <br />
                <span>-10 % rabatt</span>
              </li>
            </ul>
          </div>
          <div
            class="button"
            style="background-image: url('/gfx/iStock-2180608003.jpg')"
          >
            <h2>Omsorgsfull behandling</h2>
            <ul>
              <li>
                Ved bestilling av kompleks farging eller farging + hårklipp <br />
                <span>-10 % rabatt</span>
              </li>
            </ul>
          </div>
        </div>      

      </div>
    </section>

    <%- include('components/footer') %>
  </body>
</html>
